<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Check-in</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
  <div style="margin-top:10px;" class="container w-80 centered">
  <div style="display: inline-block;width:40%; min-width:500px; margin:auto; float:left;" class="rounded border">
 <div th:replace="attendance.html" ></div></div>
<div class="rounded border" style="padding:10px; margin-left:10px;display: inline-block;width:40%; min-width:500px;">
<h2>Check in</h2>
<label th:text="${user.name} +' '+${user.surname}">employee name</label>
<form action="#" th:action="'/user/checkin/'+${user.user_id}" modelAttribute="user" th:object="${user}" method="post">
	<div class="form-group">
		<label>Checked IN:</label>
		<label th:text="${lastAttendance.formatDate(lastAttendance.registerIN)} ?:'Not checked in'"></label>
	</div>
	<div class="form-group">
		<label>Checked OUT:</label>
		<label th:text="${lastAttendance.formatDate(lastAttendance.registerOUT)} ?:'Not checked out'"></label>
	</div>
	<div class="form-group">
		<button type="submit" class="w-100 btn btn-primary">Check IN/OUT</button>
	</div>
</form>
</div>
</div>
<footer th:insert="fragments/footer::footer"> </footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>