<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>New Guest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <header th:replace="fragments/header :: header"></header>
  
  <div style="width:40%; min-width:500px;  margin: auto; margin-top:10px; padding: 10px;" class="rounded border">
  <h2>Update Guest</h2>
        <form action="#" th:action="'/admin/updateGuest/'+${guest_id}" modelAttribute="guest" th:object="${guest}" method="post">
		  <div class="form-group">
		    <label for="id">Id</label>
		    <input th:value="*{guest_id}"  th:field="*{guest_id}" placeholder="ID" type="text" id="id"  class="form-control" disabled>
		  </div>
		  <div class="form-group">
		    <label for="name">Name</label>
		    <input th:value="*{name}" th:field="*{name}" placeholder="Name" type="text" id="name"  class="form-control">
		  </div>
		  <div class="form-group">
		    <label for="surname">Surname</label>
		    <input th:value="*{surname}" th:field="*{surname}" type="text" class="form-control" placeholder="Surname">
		  </div>
		  <div class="form-group">
		    <label for="description">Visit details</label>
		    <input th:value="*{description}" th:field="*{description}" type="text" class="form-control" placeholder="Visit details">
		  </div>
		  <div class="form-group">
		    <label for="registerIN">Visit date</label>
		    <input th:value="attendance.registerIN" th:field="*{attendance.registerIN}" type="datetime-local" class="form-control" >
		  </div>
		  <div class="form-group">
		    <label for="registerOUT">Visit expiration</label>
		    <input th:value="attendance.registerOUT" th:field="*{attendance.registerOUT}" type="datetime-local" class="form-control" >
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<footer th:insert="fragments/footer::footer"> </footer>
 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>